<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/">
</head>

<body>
    <div>
        <ul>
            <li><a href="/views/home.html">Home</a></li>
            <li><a href="/views/works.html">Works</a></li>
        </ul>
    </div>
    <h1>About Excalibur</h1>
    <div>
        <p>Excalibur is the legendary sword of King Arthur</p>
        <p>In Arthurian romance, a number of explanations are given for Arthur's possession of Excalibur. In Robert de
            Boron's Merlin, the first tale to mention the "sword in the stone" motif c. 1200, Arthur obtained the
            British throne by pulling a sword from an anvil sitting atop a stone that appeared in a churchyard on
            Christmas Eve.[13] In this account, as foretold by Merlin, the act could not be performed except by "the
            true king," meaning the divinely appointed king or true heir of Uther Pendragon. The scene is set by
            different authors at either London (Londinium) or generally in Logres. As Malory related in his most famous
            English-language version of the Arthurian tales, the 15th-century Le Morte d'Arthur: "Whoso pulleth out this
            sword of this stone and anvil, is rightwise king born of all England."[14][note 1] After many of the
            gathered nobles try and fail to complete Merlin's challenge, the teenage Arthur (who up to this point had
            believed himself to be son of Sir Ector, not Uther's son, and went there as Sir Kay's squire) does this feat
            effortlessly by accident and then repeats it publicly.

            The identity of this sword as Excalibur is made explicit in the Prose Merlin, part of the Lancelot-Grail
            cycle of French romances (the Vulgate Cycle).[15] In the Vulgate Mort Artu, when Arthur at the brink of
            death he orders Griflet to throw the sword into the enchanted lake; after two failed attempts (as he felt
            such a great sword should not be thrown away), Griflet finally complies with the wounded king's request and
            a hand emerges from the lake to catch it. This tale becomes attached to Bedivere instead of Griflet in
            Malory and the English tradition.[16] However, in the Post-Vulgate Cycle and consequently Malory, early in
            his reign Arthur breaks the Sword from the Stone while in combat against King Pellinore, and then on
            Merlin's advice he goes with him to be given Excalibur by a Lady of the Lake in exchange for a later boon
            for her (some time later, she arrives at Arthur's court to demand the head of Balin). Malory records both
            versions of the legend in his Le Morte d'Arthur, naming both swords as Excalibur.</p>
    </div>
</body>

</html>