<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div>
        <ul>
            <li><a href="/views/home.html">Home</a></li>
            <li><a href="/views/about.html">About</a></li>
        </ul>
    </div>
    <img src="/public/img/chivalry2-hero.jpg" alt="">
    <img src="/public/img/knight-horse-armor-tournament-plumes-artwork-Franz-1842.jpg" alt="">
</body>

</html>